@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap");

* {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root,
:root.light {
  --bg-color: white;
  --text-color: #123;
}

:root.dark {
  --bg-color: rgb(0, 0, 55);
  --text-color: #ffffffe7;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.mainIntroduce {
  width: 100%;
  height: 100%;
  padding-top: 150px;
  text-align: center;
}

.teamIntroduction {
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  font-size: 18px;
  line-height: 2.1;
}

[data-theme="light"] {
  --bg-color: white;
  --text-color: #123;
}

[data-theme="dark"] {
  --bg-color: rgb(0, 0, 55);
  --text-color: white;
}
