body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.teamIntroduction {
  display: flex;
  width: 100%;
  height: 500px;
  border: 1px solid skyblue;
}
