.teamMembers {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  flex-wrap: wrap;
  height: 90%;
  width: 30%;
  padding-left: 15px;
  position: fixed;
  padding-bottom: 30px;
  border-right: 3px solid skyblue;
  color: black;
}

.member {
  width: 80%;
  height: 85%;
  margin-right: 10px;
  border-radius: 10px;
}

.teamMembers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
